---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Page from '../layouts/Page.astro';
---

<!doctype html>
<Page>
  <main></main>
</Page>
