---
import Divider from './Divider.astro';
---

<footer>
  <Divider class="bg-flame" />
  <div class="p-10">
    <slot />
  </div>
</footer>
<style>
  footer {
    margin-top: auto;
    background: var(--color-flame);
  }
</style>
